{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2>Modifier un rendez-vous</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mt-4">
        <button class="btn btn-primary">Update</button>
        <a href="{{ path('app_admin_appointment_index') }}" class="btn btn-secondary">
            Annuler
        </a>
    </div>
    {{ form_end(form) }}

    <div class="mt-4">
        {{ include('admin/appointment/_delete_form.html.twig') }}
    </div>
{% endblock %}