{% extends 'admin/base.html.twig' %}

{% block title %}Doctor{% endblock %}

{% block body %}
    <h1>Doctor</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ doctor.id }}</td>
        </tr>
        <tr>
            <th>FirstName</th>
            <td>{{ doctor.firstName }}</td>
        </tr>
        <tr>
            <th>LastName</th>
            <td>{{ doctor.lastName }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ doctor.photo }}</td>
        </tr>
        <tr>
            <th>Centre de santé</th>
            <td>{{ doctor.healthcareCenter ? doctor.healthcareCenter.name : 'N/A' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_doctor_index') }}">back to list</a>

    <a href="{{ path('app_admin_doctor_edit', {'id': doctor.id}) }}">edit</a>

    {{ include('admin/doctor/_delete_form.html.twig') }}

    <h2>Appointments</h2>
    {% if appointments|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Start At</th>
                <th>Patient</th>
                <th>Skill</th>
            </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.startAt|format_datetime('medium', 'short') }}</td>
                    <td>{{ appointment.firstName }} {{ appointment.lastName }}</td>
                    <td>{{ appointment.skill.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No appointments found.</p>
    {% endif %}
{% endblock %}